# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment
venv/
env/

# Ignore local development settings
*.env

# Ignore database files
db.sqlite3

# Ignore static files
staticfiles/

# Ignore media files
media/

# Ignore log files
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db